BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Always
AllowShortFunctionsOnASingleLine: InlineOnly

PointerAlignment: Right
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

SortIncludes: true
IncludeBlocks: Preserve
